.skins {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  padding: 30px 12px;
}

.skins__item {
  display: grid;
  justify-items: center;
  grid-row-gap: 12px;
  padding-top: 12px;
  background: var(--color-blue100);
  border-radius: 12px;
  overflow: hidden;
}

.skins__price {
  color: var(--color-white);
  font-size: 22px;
}

.skins__buy {
  padding: 12px;
  width: 100%;
  background: var(--color-violet100);
  color: var(--color-white);
}